<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    body {
      font-family: sans-serif;
    }

    td {
      padding: 5pt;
    }

    th {
      padding: 3pt
    }

    th {
      background-color: #232ED1;
      color: #EFF2EF;
    }

    table,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      margin-top: 5pt;
      margin-bottom: 5pt;
    }

    a {
      color: #232ED1;
      text-decoration: none;
    }

    a:hover {
      color: #EE964B;
      text-decoration: none;
    }
  </style>
</head>
Hello everyone, <br><br>
For the next seminar ({date}), we are really happy to invite {first_name} {last_name}! <br>
They will present their work on {work_name}. <br>
You can find all of the relevant information below.

<br><br>

<table style="border-spacing: 15px;">
  <tr>
    <th colspan="2">Your Seminar</th>
  </tr>
  <tr>
    <td>📆 Date</td>
    <td>{date}</td>
  </tr>
  <tr>
    <td>📍 Location</td>
    <td>{location}</td>
  </tr>
  <tr>
    <td>🗣️ Speaker</td>
    <td>{first_name} {last_name}</td>
  </tr>
  <tr>
    <td>🔍 Talk Title</td>
    <td>{work_name}</td>
  </tr>
  <tr>
    <td>💻 Video conference</td>
    <td><a href="https://yoour-video-conference-link.com">Link</a> |
      Meeting ID: 123 4567 8910 | Passcode: 012345678 </td>
  </tr>
</table>

<br><br>

See you soon,<br>
Sincerely,<br>
<br>
<span style="color:#232ED1; font-weight: bold;">Your Seminar Organizing Team</span>

</html>